.search {
	display:flex;
	position: relative;
	justify-content: center;
	gap: 2%;
	padding: 5px;
	margin: 10px;
	text-align:center;
	z-index: 2;
}
.search.frozen {
	position: fixed;
	top: 60px;
	left: 0;
	width: calc(100% - 20px);
	z-index: 3;
}

.search input[type="text"] {
	width: 70%;
    font-size: 1.5rem;
    height: 2.5rem;
    padding: 0px 10px;
    border-radius: 16px;
    border: 2px solid var(--theme-dark-shade);
	color: var(--theme-dark-shade);
}
.search input[type="text"]:focus {
	outline: none !important;
	border-color: var(--theme-dark-accent);
}

.search .clear-search {
	background: none;
    border: none;
    position: relative;
    top: 0;
    right: calc(60px + 2%);
    margin-right: -75px;
    font-size: 1.5rem;
	font-weight: normal;
    color: #999;
}