header {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 15px;
	border-bottom: 1px solid #666;
	box-shadow: 0px 2px 5px 0px #666;
}

header .logo {
	height: 90%;
	max-width: 60%;
}
header .logo img {
	width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header .filter-button {
	height: 90%;
	cursor: pointer;
}

header .filter-button img {
	max-height: 100%;
	max-width: 100%;
}