header {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 15px;
	border-bottom: 1px solid #666;
	box-shadow: 0px 2px 5px 0px #666;
	background-color: white;
	color: var(--theme-dark-shade);
	z-index:1;
}

header .logo {
	height: 90%;
	max-width: 60%;
}
header .logo img {
	max-height: 100%;
	width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header .filter-button, header .future-icon, header .goBackButton {
	height: 90%;
    /* min-width: 10%; */
    width: 40px;
    cursor: pointer;
    text-align: right;
    background: none;
    border: none;
    padding: 0;
}

header .filter-button img {
	max-height: 85%;
}